body,html
{
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-image: url('./background.jpg');
}



footer
{
    background-image: linear-gradient(#30a945, #30a945);
    
    width: 100%;
    margin-bottom: 0;
    height: auto;
    color: white !important;
    padding-bottom: 0 !important;
    
}
.footerpara{
    color: white !important;
}

.frow
{
    padding-top: 15px !important;
    height: fit-content;
}

#logo-footer
{
    width: 100px;
    padding-bottom: 9px;
}



.copyright
{
    text-align: center;
    background-color: green;
    bottom: 0;
    height: 50px;
}

.copyright p
{
    margin-bottom: 0 !important;
    padding-top: 10px;
    color: white !important;
}

#Footer-Img
{
    padding-left: 150px;
    height: 300px;
}


.faicon{
    margin: 2px;
    height: 35px;
    width: 35px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
  }
  .faicon .li{
    padding-top: 7px;
  }
  .faicon .tw{
    padding-top: 9px;
  }
  .faicon .git{
    padding-top: 8px;
  }

  .fsocial{
    color: #30A945;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    transition: 0.4s;
    }
  .fsocial:hover{
        text-decoration: none;
        color: #248033;
    }

.footer-icons{
    display: flex !important;
    }